* {
    margin: 0;
    padding:0;
}

.chessboard {
    margin: 100px auto;
    width: 1000px;
}

.chessfield {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
}

.numberswrap {
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
}

.number {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    box-sizing: border-box;
}

.letters {
    width: 870px;
    display: flex;
    justify-content: center;
}

.letter {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    align-items: flex-start;
    padding-top: 10px;
}

.white {
    background-color: white;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.black {
    background-color: black;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

